.l-app {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 20px;
	/*display: none;*/
}
.b-sampler {
	margin: 0 5px;
	padding: 40px 0;
	overflow: visible;
	position: relative;
}
.l-animal-wrapper {
	display: table;
	width: 100%;
}
.l-animal-wrapper__row {
	display: table-row;
}
.l-animal-wrapper__cell {
	width: 33.33333333333333%;
	text-align: center;
	display: table-cell;
	vertical-align: bottom;
}
.b-animal {
	overflow: hidden;
	position: relative;
	display: inline-block;
}
.b-animal.m-bear {
	height: 134px;
	width: 96px;
}
.b-animal.m-rabbit {
	width: 51px;
	height: 69px;
}
.b-animal.m-wolf {
	height: 65px;
	width: 47px;
}
.b-animal__img {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.b-animal__img.m-bear {
	background-image: url('../img/bear.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 134px;
	width: 191px;
}
.b-animal__img.m-rabbit {
	background-image: url('../img/rabbit.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 69px;
	width: 103px;
}
.b-animal__img.m-wolf {
	background-image: url('../img/wolf.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 65px;
	width: 93px;
}
.b-animal.m-bear.active .b-animal__img {
	left: -95px;
}
.b-animal.m-rabbit.active .b-animal__img {
	left: -52px;
}
.b-animal.m-wolf.active .b-animal__img {
	left: -46px;
}
.b-header {
	font-family: 'Gochi Hand', cursive;
	text-align: center;
	margin: 40px 0 20px 0;
}
.b-header__title {
	font-size: 60px;
	display: block;
	width: 100%;
	margin: 0;
	line-height: 40px;
}
.b-header__subtitle {
	font-size: 40px;
	display: block;
	width: 100%;
	margin: 0;
}
.b-controls {
	padding: 30px 0;
	height: 195px;
}
.b-controls__item {
	overflow: hidden;
}
.b-controls__item__label {
	font-family: 'Gochi Hand', cursive;
}
.b-controls__hr {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
	width: 50%;
	margin: 20px auto 15px auto;
}
.b-volodya {
	position: absolute;
	right: 0;
	top: -160px;
	transform: rotate(-55deg);
	transition: opacity 1s linear;
	opacity: 1;
}
.b-volodya.unactive {
	opacity: 0;
}
.b-volodya.unactive input {
	cursor: default;
}
.b-volodya__text {
	padding: 20px 0;
	font-family: 'Gochi Hand', cursive;
	font-size: 40px;
	text-align: center;
	line-height: 30px;
}